
.menu {
  color: white;
  font-size: 15px;
  list-style-type: none;
  display: block;
  align-items: center;
}
.submenu{
  display: none;
}
.menu ul.submenu:hover li.subitem{
  display: block; 
}
.item:hover {color:#Eaac8b; background-color: #8fb5b7;}

.menu li.item :hover {
  background-color: #8fb5b7;
  color: white;
}
.menu li.items :hover ul.submenu {
  background-color: #8fb5b7;
  color: white;
}
.items {color:white;
  width: 100%;
  text-align: center;
  display: block;
text-align: center;}
.item {
    color:white;
    width: 100%;
    text-align: center;
    display: block;}

.menu li.items:checked ul.submenu{
  display: block; 
  background-color: #8fb5b7;
  color: white;
}
nav>ul>li:hover ul{
  display:block;
}
nav ul>li>ul>li:hover a{
  background-color: white;
}