li a {
  display: block;
  width: 60px;
  padding: 8px 16px;
  text-align: center;
  justify-content: flex-start;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
  background-color: #Eaac8b;
  color: white;
  height: 100%;
  position: fixed;

}
li a:hover {
  background-color: #8fb5b7;
  color: white;
}
li:last-child {
  border-bottom: none;
}