body {background-color: #eee3c3; margin-left: 20px;
  ;}
  
  h1 { color:#FFC7c2; margin-left: 20px;
    font-family: 'letter_magicregular';
    font-weight: normal;
    font-style: normal;}
  h2 { color:#eaac8b; margin-left: 20px;font-family: 'letter_magicregular';
    font-weight: normal;
    font-style: normal; }
  body {color: lightblue; margin-left: 20px;
  font-family: 'georgia';
  font-weight: normal;
  font-style: normal;}

  p::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    color: #8fb5b7;}

@font-face {
    font-family: 'letter_magicregular';
    src: url('letter_magic-webfont.woff2') format('woff2'),
         url('letter_magic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}